body {
    background-color: #FFF;
    overflow-x: hidden;
}

html, body {
    min-height: 100%;
    height: 100%;
}

.wrapper {
    border: solid 1px green;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    margin: 0;
    padding: 0;
}

.header-cont {
    border: solid 1px crimson;
    width: 100%;
    height: 3rem;
    display: flex;
    background-color: beige;
    margin-top: 2%;
    justify-content: space-between;
}

.separator {
    border: solid 1px crimson;
    min-width: 100%;
    height: 5rem;
    display: flex;
    background-color: rgb(239, 239, 6);
    margin-bottom: 3%;
}

.logo {
    border: solid 1px crimson;
    display: flex;
    margin-left: 12%;
    align-items: center;
}

.menu {
    border: solid 1px crimson;
    display: flex;
    justify-items: flex-start;
    padding-right: 10%;
}

.navigation {
    list-style: none;
    display: flex;
    font-family: 'ArialRegular';
    font-size: 15px;
    font-weight: 400;
    color: black;
    width: 100%;
    height: 100%;
    align-content: flex-start;
    margin-top: 0px;
}

li {
    margin: 10%;
    
}

.cart-login {
    border: solid 1px crimson;
    display: flex;
    margin-right: 12%;
    align-items: center;
}

.main-cont {
    border: solid 1px crimson;
    display: flex;
    flex-basis: 70%;
    background-color: rgb(254, 255, 207);
    max-width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    justify-content: space-between;  
    margin-bottom: 3%;  
}

.filters {
    border: solid 1px crimson;
    display: flex;
    min-width: 18%;
    flex-direction: column;
    justify-content: space-between;
}

.search {
    border: solid 1px crimson;
    display: flex;
}

.type {
    border: solid 1px crimson;
    display: flex;
}

.city {
    border: solid 1px crimson;
    display: flex;
}

.rooms {
    border: solid 1px crimson;
    display: flex;
}

.furniture {
    border: solid 1px crimson;
    display: flex;
}

.year {
    border: solid 1px crimson;
    display: flex;
}

.price {
    border: solid 1px crimson;
    display: flex;
}

.clear {
    border: solid 1px crimson;
    display: flex;
}

.variants {
    border: solid 1px crimson;
    display: flex;
    min-width: 78%;
    flex-direction: column;
    justify-content: space-between;
}

.subfilters {
    border: solid 1px crimson;
    display: flex;
    height: 5%;
}

.apartments {
    border: solid 1px crimson;
    display: flex;
    height: 90%;
}

.footer-cont {
    border: solid 1px crimson;
    display: flex;
    flex-basis: 10%;
    background-color: blueviolet;
    justify-content: space-between;
    align-content: center;
}

.course {
    margin-left: 12%;
}

.author {
    margin-right: 12%;
    align-self: center;
}