body {
    background-color: #fff;
    overflow-x: hidden;
}

html,
body {
    min-height: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-cont {
    width: 100%;
    height: 3rem;
    display: flex;
    background-color: #fff;
    margin-top: 2%;
    margin-bottom: 1%;
    justify-content: space-between;
}

.separator {
    min-width: 100%;
    height: 5rem;
    display: flex;
    background-color: rgb(208, 205, 196);
    margin-bottom: 3%;
}

.inter-links {
    display: flex;
    align-items: center;
    margin-left: 15rem;
}

.home-sep,
.apart-sep {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: #65432e;
}

.home-sep {
    color: #a97f3b;
}

.home-sep:hover {
    color: #65432e;
    transition: 0.8s;
}

h1,
h2 {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
}

h2 {
    font-size: 2rem;
    color: #65432e;
    font-weight: 600;
}

h1 {
    background-image: linear-gradient(150deg,
            #000000 0%,
            rgb(77, 255, 92) 30%,
            #e313ff 50%,
            #fff800 100%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: logo 5s linear infinite;
}

@keyframes logo {
    to {
        background-position: 200% center;
    }
}

.logo {
    display: flex;
    margin-left: 12%;
    align-items: center;
    color: #102a42;
}

.menu {
    display: flex;
    justify-items: flex-start;
    padding-right: 10%;
    margin-right: 10rem;
}

.home,
.about,
.apart {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
}

.home:hover {
    color: #65432e;
    transition: 0.5s;
}

.about:hover {
    color: #65432e;
    transition: 0.5s;
}

.apart:hover {
    color: #65432e;
    transition: 0.5s;
}

.navigation {
    list-style: none;
    display: flex;
    font-size: 15px;
    font-weight: 400;
    color: #102a42;
    width: 100%;
    height: 100%;
    align-content: flex-start;
    margin-top: 0px;
    padding-left: 0;
}

li {
    margin: 10%;
}

.cart-login {
    display: flex;
    margin-right: 12%;
    align-items: center;
    /* border: solid 1px crimson; */
}

.cart-login:hover {
    filter: contrast(900%) brightness(900%) invert(40%) sepia(900%) saturate(100%);
    cursor: pointer;
}

.main-cont {
    border: solid 1px crimson;
    border-radius: 3%;
    display: flex;
    flex-basis: 70%;
    background-color: #fff;
    max-width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    justify-content: space-between;
    margin-bottom: 3%;
    padding: 0.5%;
}

.filters {
    border: solid 1px crimson;
    display: flex;
    min-width: 18%;
    flex-direction: column;
    justify-content: space-between;
}

.search {
    display: flex;
}

.searcherItself {
    font-size: 15px;
    border-radius: 25px;
    outline: none;
    border: none;
    padding: 5px;
    background-color: rgb(255, 234, 177);
}

::placeholder {
    color: #e69c25;
}

.type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rent {
    background: linear-gradient(30deg,
            rgba(253, 81, 29, 1) 0%,
            rgba(252, 237, 69, 1) 100%);
    color: #fff;
    font-size: 0.9rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 2px rgb(255, 85, 227);
    margin-bottom: 5%;
    width: 45%;
    margin-left: 5%;
    cursor: pointer;
}

.buy {
    background: linear-gradient(30deg,
            rgb(29, 253, 126) 0%,
            rgba(252, 237, 69, 1) 90%);
    color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 2px rgb(85, 246, 255);
    width: 45%;
    font-size: 0.9rem;
    align-self: flex-end;
    margin-right: 5%;
}

.city {
    border: solid 1px crimson;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bang {
    display: flex;
    margin: 0 5% 5% 0;
    justify-items: center;
    border: solid 1px crimson;
    width: 60%;
    justify-content: space-between;
}

.bang-name {
    order: -1;
    margin-right: 10%;
}

.bang-choice {
    margin-right: 1%;
    cursor: pointer;
}

.saigon {
    display: flex;
    margin: 0 5% 5% 0;
    border: solid 1px crimson;
    justify-items: center;
    width: 60%;
    justify-content: space-between;
}

.saigon-name {
    order: -1;
    margin-right: 10%;
}

.saigon-choice {
    padding-top: 1%;
    cursor: pointer;
}

.singapore {
    display: flex;
    margin: 0 5% 5% 0;
    justify-content: space-between;
    border: solid 1px crimson;
    width: 60%;
}

.sing-name {
    order: -1;
    margin-right: 10%;
}

.sing-choice {
    padding-top: 1%;
    cursor: pointer;
}

.rooms {
    border: solid 1px crimson;
    display: flex;
}

.furniture {
    border: solid 1px crimson;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.year {
    border: solid 1px crimson;
    display: flex;
}

.price {
    border: solid 1px crimson;
    display: flex;
}

.clear {
    border: solid 1px crimson;
    display: flex;
}

.variants {
    border: solid 1px crimson;
    display: flex;
    min-width: 78%;
    flex-direction: column;
    justify-content: space-between;
}

.subfilters {
    border: solid 1px crimson;
    display: flex;
    height: 5%;
    /* justify-content: space-evenly; */
    align-items: center;
}

.subparams {
    display: flex;
    justify-items: space-between;
}

.view {
    display: flex;
    justify-items: space-between;
}

.number {
    margin-left: 10%;
}

.grid {
    margin-right: 10%;
}

.line {
    background-color: black;
    height: 2px;
    width: 60%;
}

.subsorter {
    display: flex;
}

.apartments {
    border: solid 1px crimson;
    display: flex;
    height: 90%;
}

.footer-cont {
    border: solid 1px crimson;
    display: flex;
    flex-basis: 10%;
    background-color: rgb(49, 48, 48);
    justify-content: space-between;
    align-content: center;
    font-size: 0.8rem;
}

.course {
    margin-left: 12%;
}

.author {
    margin-right: 12%;
    align-self: center;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.github {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}